node_modules
dist
.nuxt
.output
coverage
*.min.js
dashboard/.nuxt
dashboard/.output
dashboard/dist
server/dist
server/node_modules
dashboard/node_modules
plugins
*.d.ts
tsconfig.tsbuildinfo
public
static
vendor
.git
.vscode
.idea
*.log
.DS_Store