@import "./shepherd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    @apply leading-none tracking-tight;
  }

  h2 {
    @apply text-xl;
  }
}

code {
  @apply bg-muted text-foreground px-1.5 py-0.5 rounded-sm border border-neutral-300;
  font-family: monospace;
  box-shadow: 0 1px 0 0 var(--color-neutral-100);
  font-size: 0.875em;
}
.icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
}
