@import "./shepherd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    @apply leading-none tracking-tight;
  }

  h2 {
    @apply text-xl;
  }
}

.icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
}
