# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
*.log*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
Thumbs.db

# Testing
coverage
.nyc_output

# Build outputs
build/
dist/

# Temporary files
*.tmp
*.temp